.comedian {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;

  margin-bottom: 2rem;

  &__details > * {
    margin-bottom: 1rem;
  }

  &__biography {
    line-height: 2;
  }

  &__birthday {
    font-style: italic;
  }

  &__headshot {
    max-width: 600px;
    max-height: 50vh;
    border-radius: var(--border-radius-200);
  }
}
