.comedian {
  display: grid;
  justify-items: center;
  gap: var(--content-spacing);

  margin-block: var(--content-spacing);

  @media (min-width: 53.125rem) {
    grid-template-columns: min-content 1fr;
  }

  &__headshot {
    max-width: 37.5rem;
    max-height: (max(40vh, 25rem));
    border-radius: var(--border-radius-200);
  }

  &__icons {
    display: flex;
  }

  &__svg {
    width: min(30vw, 18.75rem);
    aspect-ratio: 1/1;
  }

  &__details > * {
    margin-bottom: 1rem;
  }

  &__biography {
    line-height: 2;
  }

  &__birthday {
    font-style: italic;
  }

  &__icons {
    display: flex;
    align-content: center;

    a {
      padding: 0.25rem 0.5rem;
      display: flex;
      align-content: center;
    }
  }
}
