.searchpage {
  &__header {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: 0.25rem;
  }

  &__term {
    font-weight: bold;
    font-style: italic;
    color: var(--clr-accent-100);
  }

  &__instructions {
    max-width: 40ch;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
  }

  &__person {
    position: relative;
  }

  &__headshot {
    position: relative;
    max-height: 30vh;

    border-radius: var(--border-radius-200);
  }

  &__name {
    position: absolute;
    bottom: -0.5rem;
    left: 1rem;

    width: 90%;
    padding: 0.25rem 1rem;
    text-align: center;

    font-family: var(--ff-main);
    font-size: 1.15rem;
    font-weight: 700;

    color: var(--clr-neutral-200);
    background: var(--clr-neutral-700);

    border: 2px solid var(--clr-neutral-800);
    border-radius: var(--border-radius-100);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100%;
  background: #00000099;
}
