.searchpage {
  margin-block: var(--content-spacing);

  &__header {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: var(--header-spacing);
  }

  &__title {
    margin-bottom: 0.25rem;
  }

  &__term {
    font-weight: bold;
    font-style: italic;
    color: var(--clr-accent-100);
  }

  &__instructions {
    max-width: 40ch;
  }

  &__grid {
    display: grid;
    gap: 2rem;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  &__person {
    display: grid;
    place-items: center;
  }

  &__headshot {
    max-height: 30vh;
    object-fit: cover;
    cursor: pointer;
    border-radius: var(--border-radius-200);
    margin-bottom: 0.25rem;
  }

  &__name {
    margin-top: auto;
    padding: 0.75rem;
    text-align: center;
    color: var(--clr-neutral-200);
    font-weight: bold;
    font-size: 1rem;

    border-radius: var(--border-radius-100);
  }
}

.result__header {
  margin-block: 2rem;

  &__h3 {
    color: var(--clr-accent-200);
  }
  &__p {
    color: var(--clr-neutral-200);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100%;
  background: #00000099;
}
