.comedian-card {
  max-width: 300px;
  display: grid;
  grid-template-rows: 1fr max-content;
  justify-content: center;
  align-items: center;

  &__image {
    width: 100%;
    object-fit: cover;
  }

  // missing image placeholder
  &__svg {
    padding: 1rem;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &__icons {
    display: flex;
    gap: 0.25rem;
  }
}
