# .env template

# instructions:
# 1. rename file to ".env"
# 2. replace "XXX" values with the appropriate values

# themoviedb.org api
VITE_TMDB_API_KEY=XXX

# firebase api config settings
VITE_FIREBASE_API_KEY=XXX
VITE_FIREBASE_AUTH_DOMAIN=XXX
VITE_FIREBASE_PROJECT_ID=XXX
VITE_FIREBASE_STORAGE_BUCKET=XXX
VITE_FIREBASE_MESSAGING_SENDER_ID=XXX
VITE_FIREBASE_APP_ID=XXX
