.button {
  border: 0;
  outline: 0;

  transition: var(--transition-100);

  &:hover {
    cursor: pointer;
  }

  &__text-only {
    background: none;
    text-align: left;

    &:hover {
      color: var(--clr-accent-200);
    }
  }

  &:not(&__text-only) {
    display: grid;
    place-items: center;

    text-transform: uppercase;
    font-weight: bold;
    font-size: min(1.25rem, 3.75vw);
    padding: 0.25rem 0.75rem;
    border-radius: var(--border-radius-100);
  }

  &__standard {
    color: var(--clr-neutral-900);
    background: var(--clr-primary-200);

    &:hover {
      background: var(--clr-accent-200);
    }
  }

  &__outline {
    color: var(--clr-neutral-200);
    background: none;
    outline: 3px solid var(--clr-neutral-700);

    &:hover {
      color: var(--clr-neutral-900);
      background: var(--clr-primary-200);
      outline: 3px solid var(--clr-neutral-700);
    }
  }

  &__icon {
    background: none;
    color: var(--clr-primary-100);
    // padding: 0.25rem;

    &:hover {
      color: var(--clr-accent-200);
    }
  }
}
