.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  gap: 1.5rem;

  max-width: 400px;
  min-width: 300px;

  background: var(--clr-neutral-900);
  padding: 2rem;
  border-radius: var(--border-radius-200);

  &__warning {
    color: var(--clr-accent-200);
    font-size: 0.8rem;

    &__span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__name {
    text-align: center;
    color: var(--clr-primary-200);
  }

  &__grid {
    display: flex;
    gap: 1rem;
  }

  &__appearances,
  &__specials {
    h4 {
      margin-bottom: 0.25rem;
      font-weight: bold;
    }
  }

  &__found {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &-bullet {
      color: var(--clr-accent-100);
    }
  }

  &__not-comedian {
    color: var(--clr-neutral-200);
    font-size: 0.9rem;
    &__error {
      text-transform: uppercase;
      font-size: 1.25rem;
      color: var(--clr-primary-200);
      font-weight: bold;
    }
  }
}
