.special-card {
  max-width: 300px;
  position: relative;

  &__image {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  &__year {
    position: absolute;
    top: 0.75rem;
    left: 0;
    padding: 0.2rem 0.6rem;

    font-size: 0.9rem;
    font-weight: bold;

    border-radius: 0 var(--border-radius-100) var(--border-radius-100) 0;

    background: var(--clr-neutral-700);
    color: var(--clr-primary-100);
  }

  // missing image placeholder
  &__svg {
    padding: 1rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;

    font-size: 0.9rem;

    padding: 0.35rem 1rem;
  }

  &__title {
    font-weight: bold;
  }
}
