.special-card {
  max-width: 300px;

  &__image {
    max-height: 10rem;
    width: 100%;
    object-fit: cover;
    // object-fit: contain;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
}
