.special-card {
  max-width: 300px;

  &__image {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    // object-fit: contain;
  }

  // missing image placeholder
  &__svg {
    padding: 1rem;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;
  }

  &__title {
    font-weight: bold;
  }
}
