.hero {
  padding-block: 10vh;

  color: var(--clr-primary-200);

  background: linear-gradient(
      var(--clr-neutral-900-transparent),
      var(--clr-neutral-700-transparent)
    ),
    url('/src/assets/hero-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  .hero__button {
    min-width: 20ch;
    padding-block: 0.65rem;

    font-family: var(--ff-accent);

    @media (max-width: 31.25rem) {
      width: 100%;
    }
  }

  h1 {
    text-transform: uppercase;
  }

  p {
    color: var(--clr-neutral-200);
    margin-block: 1rem 2rem;
    font-size: 1.1rem;
    max-width: 600px;
  }
}
