.heart {
  transition: var(--transition-100);

  &__full {
    color: var(--clr-accent-100);
  }

  &__empty {
    color: var(--clr-primary-200);

    &-loggedout {
      color: var(--clr-neutral-700);
    }
  }

  &:hover {
    scale: 1.2;
  }
}

.button.button__icon.heart {
  padding-inline: 0;
}
