.specials {
  margin-block: var(--content-spacing);

  // defaults & larger screen sizes
  &__header {
    margin-bottom: var(--header-spacing);
    color: var(--clr-neutral-200);
  }

  &__grid {
    display: grid;
    gap: var(--card-gap);
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    justify-content: baseline;
  }

  // smaller screens
  @media (max-width: 31.25rem) {
    &__header {
      text-align: center;
    }

    &__grid {
      > * {
        flex-grow: 1;
        max-width: 100%;
      }

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
