.specials {
  // defaults & larger screen sizes
  &__header {
    margin-bottom: var(--header-spacing);
  }

  &__grid {
    margin-bottom: var(--content-spacing);
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    justify-content: baseline;
  }

  // smaller screens
  @media (max-width: 31.25rem) {
    &__header {
      text-align: center;
    }

    &__grid {
      > * {
        flex-grow: 1;
        max-width: 100%;
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
