.home__header {
  margin-top: -2rem;

  padding: 2rem;

  h1 {
    color: var(--clr-accent-100);
    text-transform: uppercase;
  }

  h4 {
    font-weight: normal;
    color: var(--clr-neutral-200);
  }

  p {
    margin-block: 2rem;
    max-width: 50ch;
  }
}
