@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

//
// josh w. comeau's css reset [modified]
// source: https://www.joshwcomeau.com/css/custom-css-reset/
//

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  // display: block;
  max-width: 100%;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

//
// global settings
//

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-main: 'Inter', sans-serif;
  --ff-accent: 'Inter', sans-serif;
  --clr-neutral-950-transparent: #00000088;
  --clr-neutral-900: #1a1b26;
  --clr-neutral-900-transparent: #1a1b26f0;
  --clr-neutral-800: #24283b;
  --clr-neutral-800-transparent: #24283bdd;
  --clr-neutral-700: #414868;
  --clr-neutral-700-transparent: #414868aa;
  --clr-neutral-300: #848692;
  --clr-neutral-200: #d4d6e0;
  --clr-neutral-100: #f1f2f7;
  --clr-primary-200: #bb9af7;
  --clr-primary-200-transparent: #bb9af777;
  --clr-primary-100: #a9b1d6;
  --clr-accent-100: #9ece6a;
  --clr-accent-200: #73daca;
  --clr-accent-300: #da7373;
  --transition-100: all 0.2s ease-in-out;
  --transition-200: all 0.3s ease-in-out;
  --border-radius-100: 0.25rem;
  --border-radius-200: 0.5rem;
  --content-spacing: 3rem;
  --header-spacing: 3rem;
  --card-gap: 2rem;
}

body {
  font-family: var(--ff-main);
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.app {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;

  // wrapper for all content: centered with max width
  .column {
    position: relative;
    max-width: 100rem;
    margin-inline: auto;

    padding-inline: clamp(1rem, 4.75vw, 5rem);

    &__fullheight {
      min-height: 100%;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-accent);
  line-height: 1;
}

h1 {
  font-size: min(3rem, 8vw);
  font-weight: 800;
}

h2 {
  font-weight: 800;
  font-size: min(2.25rem, 6vw);
}

h3 {
  font-weight: 800;
  font-size: min(2rem, 5.5vw);
}

h4 {
  font-weight: 400;
  font-size: min(1.25rem, 3.5vw);
}

h5 {
  font-weight: 800;
  font-size: min(1rem, 3vw);
}

p {
  color: var(--clr-neutral-200);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font: inherit;
}

a,
a:visited {
  font-weight: bold;
  color: var(--clr-accent-200);
}

a:hover,
a:active {
  font-weight: bold;
  color: var(--clr-neutral-200);
}

//
// scrollbar
//
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-neutral-800);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-neutral-700);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-100);
}
