// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=Special+Elite&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;800&family=Roboto:wght@400;700&display=swap');

//
// josh w. comeau's css reset [modified]
// source: https://www.joshwcomeau.com/css/custom-css-reset/
//

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  // display: block;
  max-width: 100%;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

//
// global settings
//

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-main: 'Roboto', sans-serif;
  --ff-accent: 'Roboto Slab', serif;
  --clr-neutral-900: #1a1b26;
  --clr-neutral-800: #24283b;
  --clr-neutral-700: #414868;
  --clr-neutral-300: #848692;
  --clr-neutral-200: #d4d6e0;
  --clr-neutral-100: #f1f2f7;
  --clr-primary-200: #bb9af7;
  --clr-primary-100: #a9b1d6;
  --clr-accent-100: #9ece6a;
  --clr-accent-200: #73daca;
  --transition-100: all 0.2s ease-in-out;
  --transition-200: all 0.3s ease-in-out;
  --border-radius-100: 0.25rem;
  --border-radius-200: 0.5rem;
  --content-spacing: 3rem;
  --header-spacing: 2rem;
}

body {
  font-family: var(--ff-main);
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.app {
  position: relative;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;

  // wrapper for all content: centered with max width
  .column {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 2rem;
  }

  // maintain consistent spacing of main content
  main {
    padding-block: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-main);
  line-height: 1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: 900;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.75rem;
}

h4 {
  font-weight: 700;
  font-size: 1.5rem;
}

input {
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius-100);

  font-weight: bold;

  color: var(--clr-neutral-100);
  background: var(--clr-neutral-800);

  border: 0;
  outline: 0;

  transition: var(--transition-100);

  &::placeholder {
    color: var(--clr-neutral-300);
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
  }

  &:hover,
  &:focus {
    color: var(--clr-neutral-100);
    outline: 3px solid var(--clr-neutral-700);
  }
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

//
// scrollbar
//
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-neutral-800);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-neutral-700);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-100);
}
