.search {
  position: relative;

  display: grid;
  place-items: center;

  @media (max-width: 525px) {
    flex-basis: 100%;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr max-content;
    // place-items: center;
    // gap: 0.25rem;
    @media (max-width: 525px) {
      width: 100%;
      // margin-top: 0rem;
    }

    input {
      padding: 0.25rem 0.75rem;
      min-width: 0;

      font-weight: bold;

      color: var(--clr-neutral-100);
      background: var(--clr-neutral-800);

      outline: 0;

      border: 3px solid var(--clr-neutral-700);
      border-radius: var(--border-radius-100);

      &::placeholder {
        color: var(--clr-neutral-300);
        font-weight: normal;
        font-style: italic;
        text-transform: lowercase;
      }

      &:active {
        outline: 1px solid var(--clr-accent-100);
      }

      &:hover,
      &:focus {
        color: var(--clr-neutral-100);
        border: 3px solid var(--clr-primary-100);
      }
    }
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 0.35rem);
  left: 0;

  display: grid;
  gap: 0.35rem;

  background: var(--clr-neutral-700);
  padding: 0.5rem;

  border-radius: var(--border-radius-200);
}

.result {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 0.35rem;
  padding-block: 0.1rem;

  border-radius: var(--border-radius-200);

  &:hover {
    background: var(--clr-neutral-800);
  }

  &__photo {
    pointer-events: none;

    width: 35px;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: var(--border-radius-200);
  }

  &__name {
    pointer-events: none;
    padding-right: 0.5rem;
  }
}
