.header {
  position: sticky;
  top: 0;

  padding-block: 1rem;
  background: var(--clr-neutral-800);

  border-bottom: 2px solid var(--clr-neutral-700);

  .column {
    display: grid;
    grid-template-columns: max-content max-content max-content min-content;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    line-height: 1.2;
    color: var(--clr-primary-200);

    &__text {
      font-size: 1.75rem;

      &__db {
        color: var(--clr-neutral-700);
      }
    }

    &__icon {
      color: var(--clr-neutral-700);
      size: 2em;
    }
  }
}
