.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-block: 1rem;
  background: var(--clr-neutral-900);

  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;

    .user__icons {
      display: flex;
    }

    // medium size screens
    // user icons
    > :nth-child(2) {
      margin-left: auto;
      order: 4;
    }

    // navbar
    > :nth-child(3) {
      order: 4;
    }

    // searchbar
    > :nth-child(5) {
      margin-left: auto;
    }

    // small screens
    @media (max-width: 600px) {
      // search bar: 100% width
      flex-basis: 100%;

      // navbar
      > :nth-child(3) {
        order: 0;
      }

      // user icons
      > :nth-child(2) {
        order: 0;
      }

      gap: 0.2rem;
    }

    // used to break search bar on a new line
    .break-column {
      flex-basis: 100%;
      width: 0;

      @media (min-width: 600px) {
        display: none;
      }
    }

    // large screens
    @media (min-width: 1000px) {
      // navbar
      > :nth-child(3) {
        margin-left: auto;
      }

      // user icons
      > :nth-child(2) {
        order: 5;
      }

      // searchbar
      > :nth-child(5) {
        order: 6;
        margin: 0;
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    line-height: 1.2;
    color: var(--clr-primary-200);

    &__text {
      font-size: min(1.75rem, 6vw);

      &__db {
        color: var(--clr-neutral-700);
      }
    }

    &__icon {
      color: var(--clr-neutral-700);
      size: 2em;
    }
  }
}
