.nav {
  margin-left: auto;

  display: flex;
  align-items: center;

  &__ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;

    text-transform: uppercase;
  }

  &__a,
  &__a:visited {
    color: var(--clr-neutral-200);
    transition: var(--transition-100);

    &:hover {
      color: var(--clr-primary-200);
    }
  }
}
