.favorites {
  margin-block: var(--content-spacing);

  > * {
    margin-bottom: var(--header-spacing-small);
  }

  .link__button {
    display: block;
    color: var(--clr-accent-200);
    font-weight: bold;
    margin-bottom: var(--header-spacing-small);
  }
}
