.special {
  margin-block: var(--content-spacing);

  display: flex;
  justify-content: space-between;
  gap: var(--content-spacing);

  &__data {
    min-height: 100%;
  }

  &__image {
    justify-self: end;
    object-fit: cover;
    border-radius: var(--border-radius-200);
    box-shadow: var(--box-shadow-100);
  }

  &__image-portrait {
    max-width: 30rem;
    max-height: 30rem;
  }

  &__landscape {
    display: grid;
    gap: 2rem;
  }

  @media (max-width: 48.4375rem) {
    flex-direction: column;
    align-items: center;

    &__image,
    &__image-portrait {
      order: -1;
      width: 100%;
      max-height: unset;
    }
  }

  &__coming-soon {
    font-weight: bold;
    color: var(--clr-accent-100);
    font-size: 1.25rem;
  }

  &__overview {
    line-height: 2;
    margin-block: 1rem;
    max-width: 80ch;
  }

  &__title {
    margin-bottom: var(--header-spacing-small);
    color: var(--clr-primary-200);
  }

  &__years-ago {
    color: var(--clr-primary-100);
  }

  &__release-date {
    font-weight: bold;
  }

  &__comedian {
    margin-top: var(--header-spacing);

    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__comedian a:is(:active, :focus, :visited) {
    color: var(--clr-primary-100);
  }

  &__comedian-portrait {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 6rem;
    border-radius: 100vh;
  }
}
