.special {
  > * {
    margin-bottom: 2rem;
  }

  &__portrait {
    display: grid;
    gap: 1rem;
    @media (min-width: 775px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__image-portrait {
    width: 100%;
    max-height: 50vh;
    aspect-ratio: 1/1.5;
  }

  &__landscape {
    display: grid;
    gap: 2rem;
  }

  &__overview {
    line-height: 2;
    margin-block: 1rem;
  }

  &__image {
    object-fit: cover;
    border-radius: var(--border-radius-200);
  }
}

.other__content {
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;

  > :nth-child(1) {
    justify-self: center;
  }
  // justify-items: center;

  &__header {
    margin-block: 2rem;
  }

  @media (min-width: 775px) {
    display: grid;
    grid-template-columns: max-content 1fr;

    .comedian-card {
      height: fit-content;
    }
  }
}
